<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div class="container"><table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Rombel</th>
        <th>Kelas</th>
        <th>Address</th>
        <th>City</th>
        <th>NIK</th>
        <th>Action</th>
    </tr>
    </thead>    <tbody>
    <% @students.each do |student| %>
    <tr>
        <td><%= student.name %></td>
        <td><%= student.username %></td>
        <td><%= student.age %></td>
        <td><%= student.rombel %></td>
        <td><%= student.address %></td>
        <td><%= student.city %></td>
        <td><%= student.nik %></td>
        <td>
        <%= link_to 'Detail', student_path(student), class:"btn btn-outline-secondary" %> 
        <%= link_to 'Edit', edit_student_path(student), class:"btn btn-outline-warning" %> 
        <%= link_to 'Delete', student_path(student) , method: :delete, data: {confirm: 'Apakah anda yakin?'}, class:"btn btn-outline-danger" %>
        </td>    </tr>
    <% end %>
    </tbody></table> 
<%= link_to 'New Student', new_student_path(), class:"btn btn-primary" %><!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
</div>






















