<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>


Nama : <%= @student.name %> </br>
Username : <%= @student.username %> </br>

Age : <%= @student.age %> </br>
Rombel : <%= @student.rombel %> </br>
Address : <%= @student.address %> </br>
City : <%= @student.city %> </br>
NIK : <%= @student.nik %> </br>

<%= link_to 'kembali ke halaman sebelumnya',students_path %>