<%= form_for (@teacher) do |f| %>
<%= f.label :nik %> </br>
<%= f.text_field :nik %> </br>

<%= f.label :nama %> </br>
<%= f.text_field :nama %> </br>

<%= f.label :age %> </br>
<%= f.text_field :age %> </br>

<%= f.label :rombel %> </br>
<%= f.text_field :rombel %> </br>

<%= f.label :mapel %> </br>
<%= f.text_field :mapel %> </br>



<%= f.submit "Save" %> 
<% end %>