<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>


NIK : <%= @teacher.nik %> </br>
Nama : <%= @teacher.nama %> </br>
Age : <%= @teacher.age %> </br>
Rombel : <%= @teacher.rombel %> </br>
Mapel : <%= @teacher.mapel %> </br>

<%= link_to 'kembali ke halaman sebelumnya',teachers_path %>