<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>


ID Transaction : <%= @payment.id_transaction %> </br>
Status : <%= @payment.status %> </br>
Upload : <%= @payment.upload %> </br>


<%= link_to 'kembali ke halaman sebelumnya',payments_path (), class:"btn btn-primary" %><!-- Optional JavaScript -->
