<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>


title : <%= @exam.title %> </br>
mapel : <%= @exam.mapel %> </br>
title : <%= @exam.title %> </br>
mapel : <%= @exam.mapel %> </br>

<%= link_to 'kembali ke halaman sebelumnya',exams_path %>