<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>


Title : <%= @report.title %> </br>
Hasil : <%= @report.hasil %> </br>
Mapel : <%= @report.mapel %> </br>
tecaher ID : <%= @report.teacher_id %> </br>
Student ID : <%= @report.student_id %> </br>
Date : <%= @report.date %> </br>

<%= link_to 'kembali ke halaman sebelumnya',reports_path %>